# This is Git's per-user configuration file.
[user]
name = "Florian Sanders"
email = "sanders.florian@gmail.com"
signingkey = D39E596F7894D42D

[gpg]
program = gpg

[core]
editor = "nvim"
excludesFile = "~/.gitignore"

[init]
defaultBranch = "main"

[push]
autoSetupRemote = true

[pull]
rebase = true

[commit]
	gpgSign = true

[tag]
	gpgSign = true

